@import '~antd/dist/antd.css';

/* Scrollbar */


::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 5px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    background-color: #000000;
    border: 1px solid #555555;
}

.menuBar{
  padding: 0 20px;
  overflow: auto;
}
.logo{
  width: 150px;
  float: left;

}
.logo img{
  height:50px;
}
.logo a{
  display: inline-block;
  font-size: 20px;
  padding: 19px 20px;
  text-transform: capitalize;
}
.menuCon{
  width: calc(100% -  150px);
  float: left;
}
.menuCon .ant-menu-item{
  padding: 0px 5px;
}
.menuCon .ant-menu-submenu-title{
  padding: 10px 20px;
}
.menuCon .ant-menu-item a, .menuCon .ant-menu-submenu-title a{
  padding: 10px 15px;
}
.menuCon .ant-menu-horizontal{
  border-bottom: none;
}
.menuCon .leftMenu{
  float: left;
}
.menuCon .rightMenu{
  float: right;
}
.barsMenu{
  float: right;
  height: 32px;
  padding: 6px;
  margin-top: 8px;
  display: none;
  background: none;
}
.barsBtn{
  display: block;
  width: 20px;
  height: 2px;
  background: #1890ff;
  position: relative;
}
.barsBtn:after,.barsBtn:before{
  content: attr(x);
  width: 20px;
  position: absolute;
  top: -6px;
  left: 0;
  height: 2px;
  background: #1890ff;
}
.barsBtn:after{
  top: auto;
  bottom: -6px;
}
.ant-drawer-body{
  padding: 0;
}

.ant-drawer-body .ant-menu-horizontal{
  border-bottom: none;
}
.ant-drawer-body .ant-menu-horizontal > .ant-menu-item:hover{
  border-bottom-color: transparent;
}

@media(max-width: 767px){
  .barsMenu{
    display: inline-block;
  }
  .leftMenu,.rightMenu{
    display: none;
  }
  .logo a{
    margin-left: -20px;
  }
  .menuCon .ant-menu-item, .menuCon .ant-menu-submenu-title{
    padding: 1px 20px;
  }
  .logo a{
    padding: 10px 20px;
  }
}


.btn-menu-navbar{
  /*margin-top:  30px;*/
  vertical-align: center;
}

.home .right img{
  width:100%;
  height:100%;
}
.home .left .title{
  margin-top:100px;
  font-size:70px;
}
.home .left .desc{
  line-height: 2;
  font-size:20px;
}


.profile .right img{
  width:100%;
  height:100%;
}
.profile .left{
  padding:10px;
}
.profile .left .title{
  margin-top:50px;
  font-size:70px;
}
.profile .left .desc{
  line-height: 1.8;
  font-size:16px;

  text-indent: 50px;
}


.skill{
  margin:0px auto 20px;
  padding:50px;
  width:100%;
  overflow:auto;
  -webkit-box-shadow: 0px 0px 17px 3px rgba(184,184,184,0.35);
-moz-box-shadow: 0px 0px 17px 3px rgba(184,184,184,0.35);
box-shadow: 0px 0px 17px 3px rgba(184,184,184,0.35);
}


.progress-title{
  margin:50px 20px;
  padding:0px 20px;
}
.progress-bar{
  margin:0px 20px;
  padding:0px 20px;
  
}
